body {
  /* color: #23232f; */
  padding: 0;
  margin: 0;
}

.nav_bar {
  position: absolute;
  color: black;
  text-align: center;
  display: flex;
  position: relative;
  width: 100%;
  height: 45px;
  background: #cfcfdc;
  font-size: 15px;
  z-index: 0;
  line-height: 45px;
}

.bar {
  margin: 20px;
  padding: 20px;
  background-color: #cfcfdc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav_bar a {
  width: 200px;
  text-decoration: none;
  color: black;
}

.nav_bar div {
  color: white;
  width: 100%;
  box-shadow: 0px 5px 10px -5px black;
  cursor: pointer;
  background: #23232f;
  transition: all 0.5s ease;
  border-radius: 7px;
  margin-left: 1px;
  margin-right: 1px;
}

.nav_bar div:hover {
  transition: all 0.5s ease;
  background-color: #3d3d54;
}

.nav_bar div:nth-child(3) {
  margin-left: 20%;
}

.nav_bar div:nth-child(2) {
  margin-left: 10%;
}

.nav_bar icon {
  color: black;
  box-shadow: 0px 5px 10px -5px black;
  background-color: #23232f;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 0.1px solid rgb(196, 196, 196);
  border-radius: 7px;
  margin-left: 0px;
  margin-right: 0px;
}

.nav_bar icon:hover {
  transition: all 0.5s ease;
  background-color: #3d3d54;
}


@media screen and (max-width: 768px) {
  .nav_bar {
    font-size: 8px;
  }

  .nav_bar a {
    width: 150px;
  }
}

/* mobile */
@media screen and (max-width: 480px) {
  .nav_bar {
    display: block;
    height: 200px;
    font-size: 15px;
  }

  .nav_bar a {
    display: block;
    width: 100%;
    padding: 10px 0;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.hover-button {
  border: 1px solid black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}