.section-logo {
    width: auto;
    height: 350px;
    margin-bottom: 25px;
    background-color: #23232f;
}

.img-logo {
    width: 800px;
    height: 260px;
    border-radius: 10px;
}

.h4-logo {
    color: white;
    margin-top: -20px;
}

.producten {
    width: 95%;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: #cfcfdc;
}

.product-info {
    width: 400px;
    height: 450px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #23232f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
}

.img-producten {
    width: 260px;
    height: 100px;
    object-fit: contain;
    padding: 5px;
}

.h3-producten {
    color: white;
}

.p-producten {
    color: white;
}

.h2-producten {
    color: white;
    padding: 5px;
}

.link-producten {
    display: block;
    text-align: center;
    background-color: #cfcfdc;
    color:black;
    padding: 5px;
    border-radius: 5px;
    margin-top: 1px;
}

.link-producten2 {
    display: block;
    text-align: center;
    background-color: #cfcfdc;
    color: black;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 1px;
}

.link-producten:hover {
    transition: all 0.5s ease;
    background-color: #3d3d54;
}
.link-producten2:hover {
    transition: all 0.5s ease;
    background-color: #3d3d54;
}

.dropdown {
    color: white;
    display: inline-block;
    margin-right: 10px;
}

.dropdown select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}